@use '../abstracts' as *;

.button {
    cursor: pointer;
    color: inherit;

    &--link {
        padding: 0;
        border: none;
        background-color: transparent;
        opacity: .5;

        &:hover {
            opacity: 1;
        }

        & svg {
            width: rem(28);
            height: rem(28);

            & path {
                fill: var(--secondary-color-1);
            }
        }
    }
}