@use "../abstracts" as *;

.button {
  cursor: pointer;
  color: inherit;
  scale: 1;
  transition: color var(--button-trans-duration) var(--button-trans-timing),
    opacity var(--button-trans-duration) var(--button-trans-timing),
    outline-offset var(--button-trans-duration) var(--button-trans-timing),
    background-color var(--button-trans-duration) var(--button-trans-timing),
    filter var(--button-trans-duration) var(--button-trans-timing),
    stroke-opacity var(--button-trans-duration) var(--button-trans-timing),
    fill var(--button-trans-duration) var(--button-trans-timing),
    scale var(--button-trans-duration) var(--button-trans-timing);
  
  &:disabled {
    filter: brightness(.4);
  }

  &:enabled:active {
    scale: 1.1;
  }

  &--link {
    padding: 0;
    border: none;
    background-color: transparent;
    opacity: 0.5;

    @include on-event {
      opacity: 1;
    }

    & svg {
      width: rem(28);
      height: rem(28);

      & path {
        fill: var(--secondary-color-1);
      }
    }
  }
}
