@use '../abstracts' as *;

.settings {
    border: none;
    border-radius: rem(25);
    width: calc(100vw - #{rem(48)});
    height: calc(100vh - #{rem(48)});
    max-width: rem(540);
    max-height: rem(575);

    &::backdrop {
        background-color: var(--backdrop-color);
    }
    
    
}

// dialog::backdrop {
//     content: "";
//     background: var(--backdrop-color);
//     background: red;
//     position: fixed;
//     left: 0px;
//     top: 0px;
//     right: 0px;
//     bottom: 0px;
//     width: 1000px;
//     height: 100px;
// }