@use '../abstracts' as *;

.timer {
    width: rem(300);
    height: rem(300);
    background: var(--timer-background);
    box-shadow: var(--timer-box-shadow);
    color: var(--timer-foreground-color);
    border-radius: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    &__inner {
        width: 90%;
        height: 90%;
        background-color: var(--primary-color-2);
        border-radius: inherit;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        gap: rem(15);
        
        &>* {
            z-index: 1;
        }
    }

    &__button {
        opacity: 1;

        &:hover {
            color: var(--accent-color-1);

            & path {
                fill: var(--accent-color-1);
            }
        }
    }

    &__progress-bar {
        width: rem(250);
        height: rem(250);
        position: absolute;
        transform: rotate(-90deg);

        & circle {
            fill: none;
            stroke: var(--accent-color-1);
            stroke-width: 4%;
            stroke-dasharray: 753.98;
            stroke-dashoffset: 100;
        }
    }

    &__digits {
        font-size: rem(80);
        line-height: 1;
    }
}
