@use "../abstracts/" as *;

.timer-switcher {
  padding: rem(7);
  font-size: rem(12);
  display: flex;
  border-radius: 9999rem;
  background-color: var(--primary-color-2);
  z-index: 2;

  &__radio {
    display: none;
  }

  &__item {
    padding-block: rem(16);
    padding-inline: rem(20);
    border-radius: 9999rem;
  }

  &__radio:checked + &__item {
    opacity: 1;
    background-color: var(--accent-color-1);
    color: var(--primary-color-1);
  }
}
