@use '../abstracts' as *;

.timer {
    width: small-to-medium(300,410);
    aspect-ratio: 1 / 1;
    background: var(--timer-background);
    box-shadow: var(--timer-box-shadow);
    color: var(--timer-foreground-color);
    border-radius: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    &__inner {
        width: 89.26%;
        height: 89.26%;
        background-color: var(--primary-color-2);
        border-radius: inherit;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        gap: small-to-medium(15,19);
        
        &>* {
            z-index: 1;
        }
    }

    &__button {
        opacity: 1;

        @include on-event {
            color: var(--accent-color-1);

            & path {
                fill: var(--accent-color-1);
            }
        }

        &--text {
            color: inherit;
            font-size: small-to-medium(14,16);
            text-transform: uppercase;
            letter-spacing: rem(13.13);
            margin-right: rem(-13.13);
        }
    }

    &__progress-bar {
        width: 92.62295%;
        aspect-ratio: 1 / 1;
        position: absolute;
        transform: rotate(-90deg);

        & circle {
            fill: none;
            stroke: var(--accent-color-1);
            stroke-width: 4%;
            stroke-width: small-to-medium(8,11);
            stroke-dasharray: 753.98;
        }
    }

    &__digits {
        font-size: small-to-medium(70,90);
        line-height: 1;

        &.timer-finished {
            animation: blink .5s linear infinite;
        }
    }
}
