@use "../abstracts/" as *;

.timer-toggle {
  width: small-to-medium(327, 373);
  height: rem(63);
  padding: rem(7);
  font-size: small-to-medium(12,14);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-evenly;
  border-radius: 9999rem;
  background-color: var(--primary-color-2);
  z-index: 2;

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 9999rem;
  }

  &__radio:checked + &__item {
    opacity: 1;
    background-color: var(--accent-color-1);
    color: var(--primary-color-1);
  }
}
