.no-js body > *:not(noscript) {
  display: none;
}

noscript {
  color: var(--secondary-color-1);
} 

body {
  background-color: var(--primary-color-1);
  color: var(--secondary-color-1);
  font-family: var(--body-font-family);
}

.sr-only {
  position: absolute !important;
  clip-path: inset(50%) !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden !important;
  white-space: nowrap !important;
}

.radio {
  display: none;
}

.fieldset {
  border: none;
  padding: 0;
}