@use "../abstracts/" as *;

:root {
  --georgie-peach: hsl(0, 91%, 71%);
  --robins-egg: hsl(182, 91%, 71%);
  --lavender-tea: hsl(284, 89%, 74%);

  --primary-color-1: hsl(235, 35%, 18%);
  --primary-color-2: hsl(234, 39%, 14%);
  --primary-color-3: hsl(235, 32%, 27%);
  --secondary-color-1: hsl(227, 100%, 92%);
  --secondary-color-2: hsl(0, 0%, 100%);
  --accent-color-1: var(--georgie-peach);
  --box-shadow-color-1: hsl(234, 40%, 25%);
  --box-shadow-color-2: hsl(234, 45%, 13%);
  --backdrop-color: hsla(233, 47%, 7%, 50%);
  --divider-color: hsl(0, 3%, 89%);
  --input-bg-color: hsl(229, 52%, 96%);

  --timer-background: linear-gradient(
    to bottom right,
    var(--primary-color-2) 20%,
    var(--primary-color-3)
  );

  --timer-box-shadow: #{rem(-50)} #{rem(-50)} #{rem(100)} 0 var(--box-shadow-color-1),
    #{rem(50)} #{rem(50)} #{rem(100)} 0 var(--box-shadow-color-2);

  --kumbh-sans: "Kumbh Sans", sans-serif;
  --roboto-slab: "Roboto Slab", serif;
  --space-mono: "Space Mono", monospace;

  --body-font-family: var(--kumbh-sans);

  --button-trans-duration: .2s;
  --button-trans-timing: ease-out;
}
