@use "../abstracts/" as *;

.main {
  min-height: 100vh;
  display: flex;
  align-items: center;

  &__wrapper {
    margin-top: small-to-medium-xy(32, 48, 80);
    margin-bottom: small-to-medium-xy(40, 56, 103);
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__logo {
    height: small-to-medium(24, 32);
    margin-bottom: small-to-medium(45, 55);
  }

  &__timer {
    margin-top: small-to-medium-xy(45, 45, 109);
    margin-bottom: small-to-medium-xy(55, 55, 144);
  }

  &__bottom {
    display: flex;
    gap: small-to-medium(30, 45);
  }
}
